<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:with="datetime=${#calendars.format(#calendars.createNow(),'yyyyMMddHHmmssSSS')}">
    <script th:src="@{/js/dummy.js}"></script>
    <link rel="stylesheet" th:href="@{/css/engineer.test.1.css(time=${datetime})}"/>

    <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/main.css}">

    <title>TOP</title>
</head>
<body>

<nav th:insert="header.html :: header"></nav>

<div class="full height image">
    <div class="ui main container">
        <div class="menu bar"></div>
        <div class="ui information container center aligned">
            <h1 class="ui header">tiscon insurance</h1>
            <h2 class="bland-message">多彩なチカラが、広げる未来。</h2>
            <!--<div class="index-block">
                <a href="/action/order/accept?insuranceType=treat">
                    <div class="index-icon" style="border:solid 3px #4B610B;">
                        <img src="/img/icon_treat.png">
                        <p class="index-text" style="top:40px;">★病気、ケガに備える</p>
                        <a href="/action/order/accept?insuranceType=treat" class="index-button" style="top:90px; background-color: #4B610B;">
                            申し込み
                        </a>
                    </div>
                </a>

                <div class="index-icon" style="border:solid 3px #B40404;">
                    <img src="/img/icon_treatLady.png">
                    <p class="index-text" style="top:10px;">★病気、ケガに備える</p>
                    <p class="index-text" style="top:20px;">★女性特有の病気への特約つき</p>
                    <a href="/action/order/accept?insuranceType=treatLady" class="index-button"
                       style="top:42px; background-color: #B40404;">
                        申し込み
                    </a>
                </div>

                <div class="index-icon" style="border:solid 3px #0174DF;">
                    <img src="/img/icon_future.png">
                    <p class="index-text" style="top:30px;">★がんに備える</p>
                    <a href="/action/order/accept?insuranceType=future" class="index-button"
                       style="top:80px; background-color: #0174DF;">
                        申し込み
                    </a>
                </div>
            </div>-->

        </div>

    </div>
</div>
</div>
<div class ="middle_section">
    <div class ="tabbox">
        <input type="radio" name="tabset" id="tabcheck1" checked><label for="tabcheck1" class="tab">けが・病気に備える</label>
        <input type="radio" name="tabset" id="tabcheck2"        ><label for="tabcheck2" class="tab">がんに備える</label>
        <input type="radio" name="tabset" id="tabcheck3"        ><label for="tabcheck3" class="tab">終身に備える</label>
        <input type="radio" name="tabset" id="tabcheck4"        ><label for="tabcheck4" class="tab">介護に備える</label>
        <input type="radio" name="tabset" id="tabcheck5"        ><label for="tabcheck5" class="tab">進学に備える</label>
        <div class ="tabcontent" id="tabcontent1">
            <div class="index-icon" style="border:solid 3px #4B610B;">
                <img class = "top_image" src="/img/icon_treat.png">
                <p  class="index-text" style="top:40px;">ちょっとした説明やリンク等.この場所でこの商品の特徴について箇条書きなどで掲示
                したり、公式ページで確認できるようにする</p>
                <a href="/action/order/accept?insuranceType=treat" class="index-button" style="top:90px; background-color: #4B610B;">
                    申し込み
                </a>
            </div>

            <div class="index-icon" style="border:solid 3px #B40404;">
                <img class = "top_image" src="/img/icon_treatLady.png">
                <p class="index-text" style="top:10px;">ちょっとした説明やリンク等.この場所でこの商品の特徴について箇条書きなどで掲示
                    したり、公式ページで確認できるようにする。
                    例★女性特有の病気への特約つき
                </p>
                <a href="/action/order/accept?insuranceType=treatLady" class="index-button"
                   style="top:42px; background-color: #B40404;">
                    申し込み
                </a>
            </div>
        </div>
        <div class ="tabcontent" id="tabcontent2">
            <div class="index-icon" style="border:solid 3px #0174DF;">
                <img class = "top_image" src="/img/icon_future.png">
                <p class="index-text" style="top:30px;">ちょっとした説明やリンク等.この場所でこの商品の特徴について箇条書きなどで掲示
                    したり、公式ページで確認できるようにする</p>
                <a href="/action/order/accept?insuranceType=future" class="index-button"
                   style="top:80px; background-color: #0174DF;">
                    申し込み
                </a>
            </div>
        </div>
        <div class ="tabcontent" id="tabcontent3"></div>
        <div class ="tabcontent" id="tabcontent4"></div>
        <div class ="tabcontent" id="tabcontent5"></div>
    </div>
    <div class ="denwa">
        <p class ="denwa_text">★お電話・メールでご相談</p>
        <p class ="denwa_text">電話番号</p>
        <p class = "denwa_bangou">070-4530-7559</p>
        <p class ="denwa_text">メールアドレス</p>
        <p class = "denwa_bangou">https://www.tis.co.jp/</p>
    </div>
</div>

</body>
</html>
