<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ご本人情報の入力</title>

    <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"/>
    <link rel="stylesheet"
          th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script
            src="https://code.jquery.com/jquery-1.10.2.min.js"
            integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
            crossorigin="anonymous"></script>
    <script src="/js/jquery.autoKana.js" language="javascript" type="text/javascript"></script>

    <script type="text/javascript">
        $( document ).ready( function(){
	    // 姓名 (カタカナ)
	    $.fn.autoKana( "input[name='kanjiName']", "input[name='kanaName']", {
	    katakana : true
	    });
	    });
    </script>
    <script type="text/javascript">
        $( document ).ready( function(){
	    // 姓名 (カタカナ)
	    $.fn.autoKana( "input[name='kanjiMei']", "input[name='kanaMei']", {
	    katakana : true
	    });
	    });
    </script>
    //カタカナからローマ字
    <script type="text/javascript">
        function cname_string(){
        var befkana = new Array("ア","イ","ウ","エ","オ","カ","キ","ク","ケ","コ",
        "サ","シ","ス","セ","ソ","タ","チ","ツ","テ","ト",
        "ナ","ニ","ヌ","ネ","ノ","ハ","ヒ","フ","ヘ","ホ",
        "マ","ミ","ム","メ","モ","ヤ","ユ","ヨ",
        "ラ","リ","ル","レ","ロ","ワ","ヲ","ン",
        "―","ー","－","‐","ヴ",
        "ガ","ギ","グ","ゲ","ゴ","ザ","ジ","ズ","ゼ","ゾ",
        "ダ","ヂ","ヅ","デ","ド","バ","ビ","ブ","ベ","ボ",
        "パ","ピ","プ","ペ","ポ");
        var aftroma = new Array(
        "A","I","U","E","O","KA","KI","KU","KE","KO",
        "SA","SHI","SU","SE","SO","TA","CHI","TU","TE","TO",
        "NA","NI","NU","NE","NO","HA","HI","HU","HE","HO",
        "MA","MI","MU","ME","MO","YA","YU","YO",
        "RA","RI","RU","RE","RO","WA","WO","N",
        "―","―","―","―","ｳﾞ",
        "GA","GI","GU","GE","GO","ZA","ZI","ZU","ZE","ZO",
        "DA","DI","DU","DE","DO","BA","BI","BU","BE","BO",
        "PA","PI","PU","PE","PO");
         var bef = befkana;
         var aft = aftroma;
         textIn = document.getElementById("kanaName").value;
         for(i=0; i<aft.length; i++){
         reg = new RegExp(bef[i],"g");
         textIn = textIn.replace(reg, aft[i]);}
         document.getElementById("alphabetName").value = textIn;
         }
    </script>
    <script type="text/javascript">
        function cmei_string(){
        var befkana = new Array("ア","イ","ウ","エ","オ","カ","キ","ク","ケ","コ",
        "サ","シ","ス","セ","ソ","タ","チ","ツ","テ","ト",
        "ナ","ニ","ヌ","ネ","ノ","ハ","ヒ","フ","ヘ","ホ",
        "マ","ミ","ム","メ","モ","ヤ","ユ","ヨ",
        "ラ","リ","ル","レ","ロ","ワ","ヲ","ン",
        "―","ー","－","‐","ヴ",
        "ガ","ギ","グ","ゲ","ゴ","ザ","ジ","ズ","ゼ","ゾ",
        "ダ","ヂ","ヅ","デ","ド","バ","ビ","ブ","ベ","ボ",
        "パ","ピ","プ","ペ","ポ");
        var aftroma = new Array(
        "A","I","U","E","O","KA","KI","KU","KE","KO",
        "SA","SHI","SU","SE","SO","TA","CHI","TU","TE","TO",
        "NA","NI","NU","NE","NO","HA","HI","HU","HE","HO",
        "MA","MI","MU","ME","MO","YA","YU","YO",
        "RA","RI","RU","RE","RO","WA","WO","N",
        "―","―","―","―","ｳﾞ",
        "GA","GI","GU","GE","GO","ZA","ZI","ZU","ZE","ZO",
        "DA","DI","DU","DE","DO","BA","BI","BU","BE","BO",
        "PA","PI","PU","PE","PO");
         var bef = befkana;
         var aft = aftroma;
         textIn = document.getElementById("kanaMei").value;
         for(i=0; i<aft.length; i++){
         reg = new RegExp(bef[i],"g");
         textIn = textIn.replace(reg, aft[i]);}
         document.getElementById("alphabetMei").value = textIn;
         }
    </script>
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8">
    </script>

</head>
<body>

<nav th:insert="header.html :: header"></nav>

<div class="full height image">
    <div class="ui main container">
        <div class="ui information container">
            <div class="acceptance-icon" style="border:solid 3px #4B610B;" th:if="${insOrder.insuranceType.equals('treat')}">
                <img src="/img/icon_treat.png">
            </div>
            <div class="acceptance-icon" style="border:solid 3px #B40404;"
                 th:if="${insOrder.insuranceType.equals('treatLady')}">
                <img src="/img/icon_treatLady.png">
            </div>
            <div class="acceptance-icon" style="border:solid 3px #0174DF;" th:if="${insOrder.insuranceType.equals('future')}">
                <img src="/img/icon_future.png">
            </div>
            <div class="ui middle center aligned grid ">
                <div class="user-block">
                    <h1 class="ui aligned header teal">お申込み情報</h1>

                    <form class="ui form" method="post" action="/action/order/inputJob">

                        <div class="ui horizontal divider">ご本人について</div>

                        <div class="ui statement">※「＊」は入力必須項目です。</div>
                        <div class="ui statement">※「#」はどちらかが必須項目です。</div>

                        <table class="ui celled table">
                            <tbody>
                            <tr>
                                <td>
                                    <label>お名前（漢字）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>

                                    <div class="field" th:classappend="${errors.hasError('kanjiName')} ? 'error'">
                                        <input type="text" name="kanjiName" value="" placeholder="TIS" style="float:left; width:50%;" th:value="${form.kanjiName}"/>
                                        <input type="text" name="kanjiMei" value="" placeholder="太郎"  style="width:50%;" th:value="${form.kanjiMei}">
                                        <p th:if="${errors.hasError('kanjiName')}"
                                           th:text="${errors.getMessage('kanjiName')}" class="error-message">
                                        </p>
                                        <p th:if="${errors.hasError('kanjiMei')}"
                                           th:text="${errors.getMessage('kanjiMei')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;">
                                    <label>お名前（カタカナ）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>

                                    <div class="field" th:classappend="${errors.hasError('kanaName')} ? 'error'">
                                        <input type="text" name="kanaName" value="" placeholder="ティーアイエス" id="kanaName" style="float:left; width:50%;" th:value="${form.kanaName}"onChange="cname_string()"/>
                                        <input type="text" name="kanaMei" value="" placeholder="タロウ" id="kanaMei" style="width:50%;" th:value="${form.kanaMei}" onChange="cmei_string()">
                                        <p th:if="${errors.hasError('kanaName')}"
                                           th:text="${errors.getMessage('kanaName')}" class="error-message">
                                        </p>
                                        <p th:if="${errors.hasError('kanaMei')}"
                                           th:text="${errors.getMessage('kanaMei')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>お名前（ローマ字）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>

                                    <div class="field" th:classappend="${errors.hasError('alphabetName')} ? 'error'">
                                        <input type="text" name="alphabetName" value="" placeholder="TIS" id="alphabetName" style="float:left; width:50%;" th:value="${form.alphabetName}"/>
                                        <input type="text" name="alphabetMei" value="" placeholder="TAROU" id="alphabetMei" style="width:50%;" th:value="${form.alphabetMei}">
                                        <p th:if="${errors.hasError('alphabetName')}"
                                           th:text="${errors.getMessage('alphabetName')}" class="error-message">
                                        </p>
                                        <p th:if="${errors.hasError('alphabetMei')}"
                                           th:text="${errors.getMessage('alphabetMei')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>性別</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div th:each="item : ${genderTypes}" class="field"
                                         th:classappend="${errors.hasError('gender')} ? 'error'">
                                        <input type="radio" name="gender" th:value="${item.code}"
                                               th:text="${item.label}" th:field="*{gender}"
                                               th:checked="${form.gender}==${item.code}"/>

                                    </div>
                                    <p th:if="${errors.hasError('gender')}" th:text="${errors.getMessage('gender')}"
                                       class="error-message">
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label>生年月日（半角）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <select name="year" style="width:25%; display:inline;"  th:value="${form.year}">

                                       <option th:each="year: ${yearlist}" th:value="${year}" th:selected="${form.year== year}" th:inline="text">[[${year}]]</option>
                                       </select>　年
                                    <p th:if="${errors.hasError('year')}" th:text="${errors.getMessage('year')}"
                                       class="error-message">
                                    </p>

                                    <select name="month" style="width:25%; display:inline;" th:value="${form.month}">
                                        <option th:each="month: ${monthlist}" th:value="${month}" th:selected="${form.month== month}" th:inline="text">[[${month}]]</option>
                                    </select>　月
                                    <p th:if="${errors.hasError('month')}" th:text="${errors.getMessage('month')}"
                                       class="error-message">
                                    </p>

                                    <select name="day" style="width:25%; display:inline;" th:value="${form.day}">
                                        <option th:each="day: ${daylist}" th:value="${day}" th:selected="${form.day == day}" th:inline="text">[[${day}]]</option>
                                    </select>　日
                                    <p th:if="${errors.hasError('day')}" th:text="${errors.getMessage('day')}"
                                       class="error-message">
                                    </p>



                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>郵便番号（半角）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <p>例：123-4567</p>
                                    <div class="field" th:classappend="${errors.hasError('zipCode')} ? 'error'">
                                        <input type="text" class="zipcode" name="zipCode" th:value="${form.zipCode}"onKeyUp="AjaxZip3.zip2addr(this,'','address','address');"/>
                                        <p th:if="${errors.hasError('zipCode')}"
                                           th:text="${errors.getMessage('zipCode')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ご住所（全角）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <p>例：東京都新宿区西新宿８－１７－１</p>
                                    <div class="field" th:classappend="${errors.hasError('address')} ? 'error'">
                                        <input type="text" name="address" th:value="${form.address}"/>
                                        <p th:if="${errors.hasError('address')}"
                                           th:text="${errors.getMessage('address')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>自宅電話番号（半角）</label>
                                    <p style="color:blue;">#</p>

                                </td>
                                <td>
                                    <p>例：00-1111-2222</p>
                                    <div class="field" th:classappend="${errors.hasError('homePhoneNumber')} ? 'error'">
                                        <input type="text" name="homePhoneNumber" th:value="${form.homePhoneNumber}"/>
                                        <p th:if="${errors.hasError('homePhoneNumber')}"
                                           th:text="${errors.getMessage('homePhoneNumber')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>携帯電話番号（半角）</label>
                                    <p style="color:blue;">#</p>
                                </td>
                                <td>
                                    <p>例：080-0000-0000</p>
                                    <div class="field"
                                         th:classappend="${errors.hasError('mobilePhoneNumber')} ? 'error'">
                                        <input type="text" name="mobilePhoneNumber"
                                               th:value="${form.mobilePhoneNumber}"/>
                                        <p th:if="${errors.hasError('mobilePhoneNumber')}"
                                           th:text="${errors.getMessage('mobilePhoneNumber')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>メールアドレス（半角）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <p>例：sample@docomo.ne.jp</p>
                                    <div class="field" th:classappend="${errors.hasError('emailAddress')} ? 'error'">
                                        <input type="text" name="emailAddress" th:value="${form.emailAddress}"/>
                                        <p th:if="${errors.hasError('emailAddress')}"
                                           th:text="${errors.getMessage('emailAddress')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>配偶者有無</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div th:each="item : ${marriedTypes}" class="field"
                                         th:classappend="${errors.hasError('married')} ? 'error'">
                                        <input type="radio" name="married" th:value="${item.code}"
                                               th:text="${item.label}" th:field="*{married}"
                                               th:checked="${form.married}==${item.code}"/>
                                    </div>
                                    <p th:if="${errors.hasError('married')}" th:text="${errors.getMessage('married')}"
                                       class="error-message">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>昨年の所得（半角）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div class="field" th:classappend="${errors.hasError('income')} ? 'error'">
                                        <input type="text" class="number" name="income" th:value="${form.income}"/><span
                                            class="unit">万円</span>
                                        <p th:if="${errors.hasError('income')}" th:text="${errors.getMessage('income')}"
                                           class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ご職業</label>
                                    <p style="color:red;">＊</p></td>
                                <td>
                                    <div th:each="item : ${jobTypes}" class="field"
                                         th:classappend="${errors.hasError('job')} ? 'error'">
                                        <input type="radio" name="job" th:value="${item.code}" th:text="${item.label}"
                                               th:field="*{job}" th:checked="${form.job}==${item.code}"/>
                                    </div>
                                    <p th:if="${errors.hasError('job')}" th:text="${errors.getMessage('job')}"
                                       class="error-message">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>「その他 (有職）」を選んだ方は内容をご記入下さい（全角）</label>
                                </td>
                                <td>
                                    <div class="field"
                                         th:classappend="|${errors.hasError('otherJob')?'error': ''} ${errors.hasError('valueOtherJob')?'error': ''}|">
                                        <input type="text" name="otherJob" th:value="${form.otherJob}"/>
                                        <p th:if="${errors.hasError('otherJob')}"
                                           th:text="${errors.getMessage('otherJob')}" class="error-message">
                                        </p>
                                        <p th:if="${errors.hasError('valueOtherJob')}"
                                           th:text="${errors.getMessage('valueOtherJob')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>過去5年以内に、病気やケガで7日間以上にわたって医師の診察・検査・治療・投薬をうけたことがありますか</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div th:each="item : ${treatedTypes}" class="field"
                                         th:classappend="${errors.hasError('treatedTypes')} ? 'error'">
                                        <input type="radio" name="treated" th:value="${item.code}"
                                               th:text="${item.label}" th:field="*{treated}"
                                               th:checked="${form.treated}==${item.code}"/>
                                    </div>
                                    <p th:if="${errors.hasError('treated')}" th:text="${errors.getMessage('treated')}"
                                       class="error-message">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>「はい」 を選んだ方は内容をご記入下さい（全角）</label>
                                </td>
                                <td>
                                    <div class="field"
                                         th:classappend="|${errors.hasError('medicalHistory')?'error': ''} ${errors.hasError('valueMedicalHistory')?'error': ''}|">
                                        <input type="text" name="medicalHistory" th:value="${form.medicalHistory}"/>
                                        <p th:if="${errors.hasError('medicalHistory')}"
                                           th:text="${errors.getMessage('medicalHistory')}" class="error-message">
                                        </p>
                                        <p th:if="${errors.hasError('valueMedicalHistory')}"
                                           th:text="${errors.getMessage('valueMedicalHistory')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="ui column grid">
                            <div class="eight wide column left aligned">
                                <!--/*戻る場合、formの送り先を強制的に書き換える*/-->
                                <button class="ui button angle left icon"
                                        onclick="form.action='/action/order/backToAccept';return true">戻る
                                </button>
                            </div>
                            <div class="eight wide column right aligned">
                                <button class="ui teal button angle right icon">次へ（お勤め先情報の入力）</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
